meta(charset="utf=8")
link(
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css"
)
link(rel="stylesheet", type="text/css" href="/stylesheets/styles.css")
